<a href="https://colab.research.google.com/github/Ekta-Shah/ML-practise/blob/master/ML_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
import numpy as np

In [0]:
import matplotlib.pyplot as plt

In [0]:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

link = "https://drive.google.com/open?id=1gCF1oOnmX72qwgBAsJm5qBt6hUF5dFtK"
fluff, id = link.split('=')
print (id) # Verify that you have everything after '='
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('h-1b-visa.zip')  
#df = pd.read_csv('train.csv')

1gCF1oOnmX72qwgBAsJm5qBt6hUF5dFtK

In [0]:
!unzip 'h-1b-visa.zip'

Archive:  h-1b-visa.zip
replace h1b_kaggle.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

In [0]:
df = pd.read_csv('h1b_kaggle.csv')

In [0]:
df.head()

,Unnamed: 0,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,lon,lat
0,1,CERTIFIED-WITHDRAWN,UNIVERSITY OF MICHIGAN,BIOCHEMISTS AND BIOPHYSICISTS,POSTDOCTORAL RESEARCH FELLOW,N,36067.0,2016.0,"ANN ARBOR, MICHIGAN",-83.743038,42.280826
1,2,CERTIFIED-WITHDRAWN,"GOODMAN NETWORKS, INC.",CHIEF EXECUTIVES,CHIEF OPERATING OFFICER,Y,242674.0,2016.0,"PLANO, TEXAS",-96.698886,33.019843
2,3,CERTIFIED-WITHDRAWN,"PORTS AMERICA GROUP, INC.",CHIEF EXECUTIVES,CHIEF PROCESS OFFICER,Y,193066.0,2016.0,"JERSEY CITY, NEW JERSEY",-74.077642,40.728158
3,4,CERTIFIED-WITHDRAWN,"GATES CORPORATION, A WHOLLY-OWNED SUBSIDIARY O...",CHIEF EXECUTIVES,"REGIONAL PRESIDEN, AMERICAS",Y,220314.0,2016.0,"DENVER, COLORADO",-104.990251,39.739236
4,5,WITHDRAWN,PEABODY INVESTMENTS CORP.,CHIEF EXECUTIVES,PRESIDENT MONGOLIA AND INDIA,Y,157518.4,2016.0,"ST. LOUIS, MISSOURI",-90.199404,38.627003

In [0]:
df.shape

(3002458, 11)

In [0]:
df["CASE_STATUS"].value_counts()

CERTIFIED                                             2615623
CERTIFIED-WITHDRAWN                                    202659
DENIED                                                  94346
WITHDRAWN                                               89799
PENDING QUALITY AND COMPLIANCE REVIEW - UNASSIGNED         15
REJECTED                                                    2
INVALIDATED                                                 1
Name: CASE_STATUS, dtype: int64

In [0]:
df.isnull().sum()

Unnamed: 0                 0
CASE_STATUS               13
EMPLOYER_NAME             59
SOC_NAME               17734
JOB_TITLE                 43
FULL_TIME_POSITION        15
PREVAILING_WAGE           85
YEAR                      13
WORKSITE                   0
lon                   107242
lat                   107242
dtype: int64

In [0]:
107242/3002458*100

3.5718068329348815

In [0]:
df1=df.drop(["Unnamed: 0"],1)

In [0]:
df1.isnull().sum()

CASE_STATUS               13
EMPLOYER_NAME             59
SOC_NAME               17734
JOB_TITLE                 43
FULL_TIME_POSITION        15
PREVAILING_WAGE           85
YEAR                      13
WORKSITE                   0
lon                   107242
lat                   107242
dtype: int64

In [0]:
numerical = df1.select_dtypes(include =  np.number)



def clean_numerical(column):
    mean=numerical[numerical[column]!=np.nan][column].astype(float).mean()
    numerical[column] = round(numerical[column].replace(np.nan,str(mean)).astype(float))
    return numerical
numerical.head()
numerical.isnull().sum()
clean_numerical('YEAR')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

         PREVAILING_WAGE    YEAR         lon        lat
0               36067.00  2016.0  -83.743038  42.280826
1              242674.00  2016.0  -96.698886  33.019843
2              193066.00  2016.0  -74.077642  40.728158
3              220314.00  2016.0 -104.990251  39.739236
4              157518.40  2016.0  -90.199404  38.627003
5              225000.00  2016.0  -80.191790  25.761680
6               91021.00  2016.0  -95.369803  29.760427
7              150000.00  2016.0 -121.886329  37.338208
8              127546.00  2016.0         NaN        NaN
9              154648.00  2016.0  -77.265260  38.901222
10             182978.00  2016.0  -79.995886  40.440625
11             163717.00  2016.0  -84.247212  43.615583
12             203860.80  2016.0         NaN        NaN
13             252637.00  2016.0  -80.191790  25.761680
14             105914.00  2016.0 -104.950814  39.617210
15             153046.00  2016.0  -77.429130  39.006699
16              90834.00  2016.0  -88.231481  43.011678
17             164050.00  2016.0 -118.243685  34.052234
18             187200.00  2016.0 -121.955236  37.354108
19             241842.00  2016.0  -77.046921  38.804835
20             117998.00  2016.0 -118.159793  34.000569
21             164050.00  2016.0 -118.243685  34.052234
22              99986.00  2016.0 -117.161084  32.715738
23              99986.00  2016.0 -117.084196  32.640054
24             159370.00  2016.0  -80.191790  25.761680
25             187200.00  2016.0 -121.955236  37.354108
26             130853.00  2016.0  -87.629798  41.878114
27             215862.00  2016.0 -122.419415  37.774929
28             192088.00  2016.0  -97.743061  30.267153
29              95295.98  2016.0  -80.399775  26.100365
...                  ...     ...         ...        ...
3002428         53601.60  2011.0         NaN        NaN
3002429         53601.60  2011.0         NaN        NaN
3002430         55245.00  2011.0  -74.412095  40.518715
3002431         36837.00  2011.0  -74.056530  40.789545
3002432         55245.00  2011.0  -74.412095  40.518715
3002433         36795.00  2011.0  -96.796988  32.776664
3002434         55245.00  2011.0  -74.412095  40.518715
3002435         77730.00  2011.0  -78.898619  35.994033
3002436         89232.00  2011.0 -121.955236  37.354108
3002437         34510.00  2011.0  -90.184810  32.298757
3002438         53082.00  2011.0 -121.874679  37.662431
3002439         37336.00  2011.0  -74.005941  40.712784
3002440         64800.00  2011.0 -122.245536  37.536413
3002441         70553.60  2011.0 -112.001050  40.691613
3002442         33800.00  2011.0  -81.519005  41.081445
3002443         59800.00  2011.0  -71.367284  42.599814
3002444         59800.00  2011.0  -71.367284  42.599814
3002445              NaN  2014.0  -74.431052  40.680873
3002446              NaN  2014.0  -73.939569  42.814243
3002447              NaN  2014.0 -122.083851  37.386052
3002448              NaN  2014.0  -93.089958  44.953703
3002449              NaN  2014.0  -74.932260  40.228337
3002450              NaN  2014.0 -105.037205  39.836653
3002451              NaN  2014.0 -121.988572  37.548270
3002452              NaN  2014.0  -86.581939  36.015618
3002453              NaN  2014.0  -74.005941  40.712784
3002454              NaN  2014.0  -97.134178  32.941236
3002455              NaN  2014.0  -74.909890  40.636768
3002456              NaN  2014.0  -76.780253  39.419550
3002457              NaN  2014.0  -84.387982  33.748995

[3002458 rows x 4 columns]

In [0]:
numerical.columns

Index(['PREVAILING_WAGE', 'YEAR', 'lon', 'lat'], dtype='object')

In [0]:
def clean_numerical_1(column):
    mean=numerical[numerical[column]!=np.nan][column].astype(float).mean()
    numerical[column] = numerical[column].replace(np.nan,str(mean)).astype(float)
    return numerical
clean_numerical_1('PREVAILING_WAGE')
clean_numerical_1('lon')
clean_numerical_1('lat')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

         PREVAILING_WAGE    YEAR         lon        lat
0           36067.000000  2016.0  -83.743038  42.280826
1          242674.000000  2016.0  -96.698886  33.019843
2          193066.000000  2016.0  -74.077642  40.728158
3          220314.000000  2016.0 -104.990251  39.739236
4          157518.400000  2016.0  -90.199404  38.627003
5          225000.000000  2016.0  -80.191790  25.761680
6           91021.000000  2016.0  -95.369803  29.760427
7          150000.000000  2016.0 -121.886329  37.338208
8          127546.000000  2016.0  -92.134407  38.160538
9          154648.000000  2016.0  -77.265260  38.901222
10         182978.000000  2016.0  -79.995886  40.440625
11         163717.000000  2016.0  -84.247212  43.615583
12         203860.800000  2016.0  -92.134407  38.160538
13         252637.000000  2016.0  -80.191790  25.761680
14         105914.000000  2016.0 -104.950814  39.617210
15         153046.000000  2016.0  -77.429130  39.006699
16          90834.000000  2016.0  -88.231481  43.011678
17         164050.000000  2016.0 -118.243685  34.052234
18         187200.000000  2016.0 -121.955236  37.354108
19         241842.000000  2016.0  -77.046921  38.804835
20         117998.000000  2016.0 -118.159793  34.000569
21         164050.000000  2016.0 -118.243685  34.052234
22          99986.000000  2016.0 -117.161084  32.715738
23          99986.000000  2016.0 -117.084196  32.640054
24         159370.000000  2016.0  -80.191790  25.761680
25         187200.000000  2016.0 -121.955236  37.354108
26         130853.000000  2016.0  -87.629798  41.878114
27         215862.000000  2016.0 -122.419415  37.774929
28         192088.000000  2016.0  -97.743061  30.267153
29          95295.980000  2016.0  -80.399775  26.100365
...                  ...     ...         ...        ...
3002428     53601.600000  2011.0  -92.134407  38.160538
3002429     53601.600000  2011.0  -92.134407  38.160538
3002430     55245.000000  2011.0  -74.412095  40.518715
3002431     36837.000000  2011.0  -74.056530  40.789545
3002432     55245.000000  2011.0  -74.412095  40.518715
3002433     36795.000000  2011.0  -96.796988  32.776664
3002434     55245.000000  2011.0  -74.412095  40.518715
3002435     77730.000000  2011.0  -78.898619  35.994033
3002436     89232.000000  2011.0 -121.955236  37.354108
3002437     34510.000000  2011.0  -90.184810  32.298757
3002438     53082.000000  2011.0 -121.874679  37.662431
3002439     37336.000000  2011.0  -74.005941  40.712784
3002440     64800.000000  2011.0 -122.245536  37.536413
3002441     70553.600000  2011.0 -112.001050  40.691613
3002442     33800.000000  2011.0  -81.519005  41.081445
3002443     59800.000000  2011.0  -71.367284  42.599814
3002444     59800.000000  2011.0  -71.367284  42.599814
3002445    146998.431915  2014.0  -74.431052  40.680873
3002446    146998.431915  2014.0  -73.939569  42.814243
3002447    146998.431915  2014.0 -122.083851  37.386052
3002448    146998.431915  2014.0  -93.089958  44.953703
3002449    146998.431915  2014.0  -74.932260  40.228337
3002450    146998.431915  2014.0 -105.037205  39.836653
3002451    146998.431915  2014.0 -121.988572  37.548270
3002452    146998.431915  2014.0  -86.581939  36.015618
3002453    146998.431915  2014.0  -74.005941  40.712784
3002454    146998.431915  2014.0  -97.134178  32.941236
3002455    146998.431915  2014.0  -74.909890  40.636768
3002456    146998.431915  2014.0  -76.780253  39.419550
3002457    146998.431915  2014.0  -84.387982  33.748995

[3002458 rows x 4 columns]

In [0]:
numerical.isnull().sum()

PREVAILING_WAGE    0
YEAR               0
lon                0
lat                0
dtype: int64

In [0]:
categorical = df1.select_dtypes(exclude=np.number)
lis = categorical.columns

In [0]:
categorical.isnull().sum()
print(lis)
#type(categorical)
#cat1=categorical.iloc[:,0:7].values
#cat1

Index(['CASE_STATUS', 'EMPLOYER_NAME', 'SOC_NAME', 'JOB_TITLE',
       'FULL_TIME_POSITION', 'WORKSITE'],
      dtype='object')

In [0]:
# from sklearn.preprocessing import Imputer
# imp = Imputer(missing_values='NaN',strategy="most_frequent",axis=0)
# imp = imp.fit(cat1[:,0:6])
# imp.fit_transform(cat1[:,0:6])

In [0]:
def clean_categorical(column):
    mode=categorical[categorical[column]!=np.nan][column].mode()[0]
    categorical[column] = categorical[column].replace(np.nan,str(mode))
    return categorical

In [0]:
#for i in lis:
# clean_categorical(i)
#clean_categorical('CASE_STATUS')
mode = categorical[categorical['JOB_TITLE']!=np.nan]['JOB_TITLE'].mode()[0]
print(type(mode))
clean_categorical('JOB_TITLE')
clean_categorical('EMPLOYER_NAME')
clean_categorical('CASE_STATUS')
clean_categorical('SOC_NAME')
clean_categorical('FULL_TIME_POSITION')
#mode =mode.to_string()
#mode = mode[5:]

<class 'str'>

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,WORKSITE
0,CERTIFIED-WITHDRAWN,UNIVERSITY OF MICHIGAN,BIOCHEMISTS AND BIOPHYSICISTS,POSTDOCTORAL RESEARCH FELLOW,N,"ANN ARBOR, MICHIGAN"
1,CERTIFIED-WITHDRAWN,"GOODMAN NETWORKS, INC.",CHIEF EXECUTIVES,CHIEF OPERATING OFFICER,Y,"PLANO, TEXAS"
2,CERTIFIED-WITHDRAWN,"PORTS AMERICA GROUP, INC.",CHIEF EXECUTIVES,CHIEF PROCESS OFFICER,Y,"JERSEY CITY, NEW JERSEY"
3,CERTIFIED-WITHDRAWN,"GATES CORPORATION, A WHOLLY-OWNED SUBSIDIARY O...",CHIEF EXECUTIVES,"REGIONAL PRESIDEN, AMERICAS",Y,"DENVER, COLORADO"
4,WITHDRAWN,PEABODY INVESTMENTS CORP.,CHIEF EXECUTIVES,PRESIDENT MONGOLIA AND INDIA,Y,"ST. LOUIS, MISSOURI"
5,CERTIFIED-WITHDRAWN,BURGER KING CORPORATION,CHIEF EXECUTIVES,"EXECUTIVE V P, GLOBAL DEVELOPMENT AND PRESIDEN...",Y,"MIAMI, FLORIDA"
6,CERTIFIED-WITHDRAWN,BT AND MK ENERGY AND COMMODITIES,CHIEF EXECUTIVES,CHIEF OPERATING OFFICER,Y,"HOUSTON, TEXAS"
7,CERTIFIED-WITHDRAWN,"GLOBO MOBILE TECHNOLOGIES, INC.",CHIEF EXECUTIVES,CHIEF OPERATIONS OFFICER,Y,"SAN JOSE, CALIFORNIA"
8,CERTIFIED-WITHDRAWN,ESI COMPANIES INC.,CHIEF EXECUTIVES,PRESIDENT,Y,"MEMPHIS, TEXAS"
9,WITHDRAWN,LESSARD INTERNATIONAL LLC,CHIEF EXECUTIVES,PRESIDENT,Y,"VIENNA, VIRGINIA"
10,CERTIFIED-WITHDRAWN,H.J. HEINZ COMPANY,CHIEF EXECUTIVES,"CHIEF INFORMATION OFFICER, HEINZ NORTH AMERICA",Y,"PITTSBURGH, PENNSYLVANIA"
11,CERTIFIED-WITHDRAWN,DOW CORNING CORPORATION,CHIEF EXECUTIVES,VICE PRESIDENT AND CHIEF HUMAN RESOURCES OFFICER,Y,"MIDLAND, MICHIGAN"
12,CERTIFIED-WITHDRAWN,ACUSHNET COMPANY,CHIEF EXECUTIVES,TREASURER AND COO,Y,"FAIRHAVEN, MASSACHUSETTS"
13,CERTIFIED-WITHDRAWN,"BIOCAIR, INC.",CHIEF EXECUTIVES,CHIEF COMMERCIAL OFFICER,Y,"MIAMI, FLORIDA"
14,CERTIFIED-WITHDRAWN,NEWMONT MINING CORPORATION,CHIEF EXECUTIVES,BOARD MEMBER,Y,"GREENWOOD VILLAGE, COLORADO"
15,CERTIFIED-WITHDRAWN,"VRICON, INC.",CHIEF EXECUTIVES,CHIEF FINANCIAL OFFICER,Y,"STERLING, VIRGINIA"
16,CERTIFIED-WITHDRAWN,CARDIAC SCIENCE CORPORATION,FINANCIAL MANAGERS,VICE PRESIDENT OF FINANCE,Y,"WAUKESHA, WISCONSIN"
17,CERTIFIED-WITHDRAWN,WESTFIELD CORPORATION,CHIEF EXECUTIVES,"GENERAL MANAGER, OPERATIONS",Y,"LOS ANGELES, CALIFORNIA"
18,CERTIFIED,QUICKLOGIX LLC,CHIEF EXECUTIVES,CEO,Y,"SANTA CLARA, CALIFORNIA"
19,CERTIFIED,"MCCHRYSTAL GROUP, LLC",CHIEF EXECUTIVES,"PRESIDENT, NORTHEAST REGION",Y,"ALEXANDRIA, VIRGINIA"
20,CERTIFIED-WITHDRAWN,"CUDDLE BARN, INC.",CHIEF EXECUTIVES,CHIEF OPERATING OFFICER (COO),Y,"COMMERCE, CALIFORNIA"
21,CERTIFIED-WITHDRAWN,WESTFIELD CORPORATION,CHIEF EXECUTIVES,"GENERAL MANAGER, OPERATIONS",Y,"LOS ANGELES, CALIFORNIA"
22,CERTIFIED,"LOMICS, LLC",CHIEF EXECUTIVES,CEO,Y,"SAN DIEGO, CALIFORNIA"
23,CERTIFIED,UC UNIVERSITY HIGH SCHOOL EDUCATION INC.,CHIEF EXECUTIVES,CHIEF FINANCIAL OFFICER,Y,"CHULA VISTA, CALIFORNIA"
24,CERTIFIED-WITHDRAWN,VMS COMMUNICATIONS LLC,CHIEF EXECUTIVES,CHIEF OPERATING OFFICER,Y,"MIAMI, FLORIDA"
25,CERTIFIED,"QUICKLOGIX, INC.",CHIEF EXECUTIVES,CEO,Y,"SANTA CLARA, CALIFORNIA"
26,CERTIFIED-WITHDRAWN,FOODESSENTIALS CORPORATION,CHIEF EXECUTIVES,CHIEF EXECUTIVE OFFICER,Y,"CHICAGO, ILLINOIS"
27,CERTIFIED,HELLO INC.,CHIEF EXECUTIVES,CHIEF BUSINESS OFFICER,Y,"SAN FRANCISCO, CALIFORNIA"
28,CERTIFIED,UMBEL CORP,CHIEF EXECUTIVES,VICE PRESIDENT OF ENGINEERING,Y,"AUSTIN, TEXAS"
29,CERTIFIED,"PERSPECTIVES OF FREEDOM FOUNDATION, INC",CHIEF EXECUTIVES,EXECUTIVE DIRECTOR,Y,"WESTON, FLORIDA"
...,...,...,...,...,...,...
3002428,WITHDRAWN,AVANT HEALTHCARE PROFESSIONALS,Physical Therapists,PHYSICAL THERAPIST,Y,"LEBANON, PENNSYLVANIA"
3002429,WITHDRAWN,AVANT HEALTHCARE PROFESSIONALS,Physical Therapists,PHYSICAL THERAPIST,Y,"LEBANON, PENNSYLVANIA"
3002430,WITHDRAWN,"TRISYNC TECHNOLOGIES, INC.",Computer Systems Analysts,COMPUTER SYSTEM ANALYST,Y,"EDISON, NEW JERSEY"
3002431,WITHDRAWN,AT LAST SPORTSWEAR INC.,Computer Support Specialists,COMPUTER SUPPORT SPECIALIST,Y,"SECAUCUS, NEW JERSEY"
3002432,WITHDRAWN,"TRISYNC TECHNOLOGIES, INC.",Computer Systems Analysts,COMPUTER SYSTEM ANALYST,Y,"EDISON, NEW JERSEY"
3002433,WITHDRAWN,THE UNIVERSITY OF TEXAS SOUTHWESTERN MEDICAL C...,Biochemists and Biophysicists,INSTRUCTOR,Y,"DALLAS, TEXAS"
3002434,WITHDRAWN,"TRISYNC TECHNOLOGIES, INC.",Computer Systems Analysts,COMPUTER SYSTEM ANALYST,Y,"EDISON, NEW JERSEY"
3002435,WITHDRAWN,"MARLABS, INC",Computer Programmers,PROGRAMMER/ANALYST,Y,"DURHAM, NORTH CAROLINA"
3002436,WITHDRAWN,"XTRON SOFTWARE SERVICES, INC.",Computer Programmers,COMPUTER PROGRAMMERS,Y,"SANTA CLARA, CALIFORNIA"
3002437,WITHDRAWN,UNIVERSITY OF MISSISSIPPI MEDICAL CENTER,"Health Specialties Teachers, Postsecondary",ASSISTANT PROFESSOR OF ANESTHESIOLOGY,Y,"JACKSON, MISSISSIPPI"
3002438,WITHDRAWN,"CANVAS INFOTECH, INC.",Database Administrators,DATA ANALYST,Y,"PLEASANTON, CALIFORNIA"
3002439,WITHDRAWN,NEW YORK UNIVERSITY,"Biological Scientists, All Other",ADJUNCT ASSOCIATE PROFESSOR,Y,"NEW YORK, NEW YORK"
3002440,WITHDRAWN,"ORACLE AMERICA, INC.","Software Developers, Applications",SOFTWARE ENGINEER (SOFTWARE DEVELOPER 2),Y,"REDWOOD SHORES, CALIFORNIA"
3002441,WITHDRAWN,B & D DENTAL CORP.,Materials Scientists,MATERIALS SCIENTIST,N,"WEST VALLEY, UTAH"
3002442,WITHDRAWN,"MEDTECH STAFFING & SOLUTIONS, INC",Market Research Analysts and Marketing Special...,MARKET RESEARCH ANALYST,Y,"AKRON, OHIO"
3002443,WITHDRAWN,LARSEN & TOUBRO LIMITED,Commercial and Industrial Designers,DESIGN ENGINEER,Y,"CHELMSFORD, MASSACHUSETTS"
3002444,WITHDRAWN,LARSEN & TOUBRO LIMITED,Commercial and Industrial Designers,DESIGN ENGINEER,Y,"CHELMSFORD, MASSACHUSETTS"
3002445,CERTIFIED,INFOSYS LIMITED,Computer Systems Analysts,PROGRAMMER ANALYST,Y,"BERKLEY HEIGHTS, NEW JERSEY"
3002446,CERTIFIED,INFOSYS LIMITED,Computer Systems Analysts,PROGRAMMER ANALYST,Y,"SCHENECTADYÂ , NEW YORK"
3002447,CERTIFIED,INFOSYS LIMITED,Computer Systems Analysts,PROGRAMMER ANALYST,Y,"MOUTAIN VIEW, CALIFORNIA"
3002448,CERTIFIED,INFOSYS LIMITED,Computer Systems Analysts,PROGRAMMER ANALYST,Y,"ST.PAUL, MINNESOTA"
3002449,CERTIFIED,INFOSYS LIMITED,Computer Systems Analysts,PROGRAMMER ANALYST,Y,"NEW TOWN, PENNSYLVANIA"
3002450,CERTIFIED,INFOSYS LIMITED,Computer Systems Analysts,PROGRAMMER ANALYST,Y,"WESTMINISTER, COLORADO"
3002451,CERTIFIED,INFOSYS LIMITED,Computer Systems Analysts,PROGRAMMER ANALYST,Y,"FREEMONT, CALIFORNIA"
3002452,CERTIFIED,INFOSYS LIMITED,Computer Systems Analysts,PROGRAMMER ANALYST,Y,"LAVERGNE, TENNESSEE"
3002453,CERTIFIED,INFOSYS LIMITED,Computer Systems Analysts,PROGRAMMER ANALYST,Y,"NYC, NEW YORK"
3002454,CERTIFIED,INFOSYS LIMITED,Computer Systems Analysts,PROGRAMMER ANALYST,Y,"SOUTH LAKE, TEXAS"
3002455,CERTIFIED,INFOSYS LIMITED,Computer Systems Analysts,PROGRAMMER ANALYST,Y,"CLINTON, NEW JERSEY"
3002456,CERTIFIED,INFOSYS LIMITED,Computer Systems Analysts,PROGRAMMER ANALYST,Y,"OWINGS MILL, MARYLAND"
3002457,CERTIFIED,INFOSYS LIMITED,Computer Systems Analysts,PROGRAMMER ANALYST,Y,"ALTANTA, GEORGIA"

In [0]:
categorical.isnull().sum()

CASE_STATUS           0
EMPLOYER_NAME         0
SOC_NAME              0
JOB_TITLE             0
FULL_TIME_POSITION    0
WORKSITE              0
dtype: int64

In [0]:
categorical["CASE_STATUS"].value_counts()

CERTIFIED                                             2615636
CERTIFIED-WITHDRAWN                                    202659
DENIED                                                  94346
WITHDRAWN                                               89799
PENDING QUALITY AND COMPLIANCE REVIEW - UNASSIGNED         15
REJECTED                                                    2
INVALIDATED                                                 1
Name: CASE_STATUS, dtype: int64

In [0]:
categorical.loc[categorical.CASE_STATUS=="CERTIFIED-WITHDRAWN",'case_status_now'] = "CERTIFIED"
categorical.loc[categorical.CASE_STATUS=="PENDING QUALITY AND COMPLIANCE REVIEW - UNASSIGNED",'case_status_now'] = "DENIED"
categorical.loc[categorical.CASE_STATUS=="REJECTED",'case_status_now'] = "DENIED"
categorical.loc[categorical.CASE_STATUS=="INVALIDATED",'case_status_now'] = "DENIED"
categorical.loc[categorical.CASE_STATUS=="DENIED",'case_status_now'] = "DENIED"
categorical.loc[categorical.CASE_STATUS=="CERTIFIED",'case_status_now'] = "CERTIFIED"

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [0]:
categorical["case_status_now"]

0          CERTIFIED
1          CERTIFIED
2          CERTIFIED
3          CERTIFIED
4                NaN
5          CERTIFIED
6          CERTIFIED
7          CERTIFIED
8          CERTIFIED
9                NaN
10         CERTIFIED
11         CERTIFIED
12         CERTIFIED
13         CERTIFIED
14         CERTIFIED
15         CERTIFIED
16         CERTIFIED
17         CERTIFIED
18         CERTIFIED
19         CERTIFIED
20         CERTIFIED
21         CERTIFIED
22         CERTIFIED
23         CERTIFIED
24         CERTIFIED
25         CERTIFIED
26         CERTIFIED
27         CERTIFIED
28         CERTIFIED
29         CERTIFIED
             ...
3002428          NaN
3002429          NaN
3002430          NaN
3002431          NaN
3002432          NaN
3002433          NaN
3002434          NaN
3002435          NaN
3002436          NaN
3002437          NaN
3002438          NaN
3002439          NaN
3002440          NaN
3002441          NaN
3002442          NaN
3002443          NaN
3002444          NaN
3002445    CERTIFIED
3002446    CERTIFIED
3002447    CERTIFIED
3002448    CERTIFIED
3002449    CERTIFIED
3002450    CERTIFIED
3002451    CERTIFIED
3002452    CERTIFIED
3002453    CERTIFIED
3002454    CERTIFIED
3002455    CERTIFIED
3002456    CERTIFIED
3002457    CERTIFIED
Name: case_status_now, Length: 3002458, dtype: object

In [0]:
df2=pd.concat([numerical,categorical],1)

In [0]:
df2.isnull().sum()

PREVAILING_WAGE           0
YEAR                      0
lon                       0
lat                       0
CASE_STATUS               0
EMPLOYER_NAME             0
SOC_NAME                  0
JOB_TITLE                 0
FULL_TIME_POSITION        0
WORKSITE                  0
case_status_now       89799
dtype: int64

In [0]:
df2["CASE_STATUS"].value_counts()

CERTIFIED                                             2615636
CERTIFIED-WITHDRAWN                                    202659
DENIED                                                  94346
WITHDRAWN                                               89799
PENDING QUALITY AND COMPLIANCE REVIEW - UNASSIGNED         15
REJECTED                                                    2
INVALIDATED                                                 1
Name: CASE_STATUS, dtype: int64

In [0]:
df2 = df2.drop(df2[df2.CASE_STATUS == 'WITHDRAWN'].index)

In [0]:
df2["case_status_now"].value_counts()

CERTIFIED    2818295
DENIED         94364
Name: case_status_now, dtype: int64

In [0]:
df2.loc[df2.case_status_now=="CERTIFIED",'case_status_now']=1

In [0]:
df2.loc[df2.case_status_now=="DENIED",'case_status_now']=0

In [0]:
df2.shape

(2912659, 11)

In [0]:
94364/(94364+2912659)*100

3.1381203269812037

In [0]:
categorical_2=df2.select_dtypes(exclude=np.number)
numerical_2=df2.select_dtypes(include=np.number)
categorical_2.head()
categorical_2=categorical_2.drop(["CASE_STATUS"],1)

In [0]:
numerical_2.columns

Index(['PREVAILING_WAGE', 'YEAR', 'lon', 'lat', 'case_status_now'], dtype='object')

In [0]:
categorical_2.columns

Index(['EMPLOYER_NAME', 'SOC_NAME', 'JOB_TITLE', 'FULL_TIME_POSITION',
       'WORKSITE'],
      dtype='object')

In [0]:
categorical_2["SOC_NAME"].value_counts()

Computer Systems Analysts                               302073
Computer Programmers                                    220768
SOFTWARE DEVELOPERS, APPLICATIONS                       214739
COMPUTER SYSTEMS ANALYSTS                               209179
Software Developers, Applications                       187546
COMPUTER PROGRAMMERS                                    166008
COMPUTER OCCUPATIONS, ALL OTHER                         105562
Computer Occupations, All Other                          67992
Software Developers, Systems Software                    43184
SOFTWARE DEVELOPERS, SYSTEMS SOFTWARE                    37998
Management Analysts                                      37689
Financial Analysts                                       33057
Computer Software Engineers, Applications                32323
Accountants and Auditors                                 29946
MANAGEMENT ANALYSTS                                      27355
Mechanical Engineers                                     25474
Computer Occupations, All Other*                         25063
Electronics Engineers, Except Computer                   22468
ACCOUNTANTS AND AUDITORS                                 21502
Electrical Engineers                                     21447
Market Research Analysts and Marketing Specialists       21423
Database Administrators                                  21367
Physicians and Surgeons, All Other                       21213
NETWORK AND COMPUTER SYSTEMS ADMINISTRATORS              20994
FINANCIAL ANALYSTS                                       18638
Operations Research Analysts                             18634
Network and Computer Systems Administrators              17958
COMPUTER SYSTEMS ANALYST                                 17313
MECHANICAL ENGINEERS                                     17242
DATABASE ADMINISTRATORS                                  16535
                                                         ...
MEDICAL SCIENTIST, EXCEPT EPIDEMIOLOGIST                     1
OCCUPATIONAL THERAPY ASSISTANTS                              1
FOOD AND TOBACCO ROASTING, BAKING, AND DRYING                1
MEDICAL TRANSCRIPTIONISTS                                    1
VETERINARY ASSISTANTS AND LABORATORY ANIMAL CARETA           1
FIRST-LINE SUPERVISORS OF PERSONAL SERVICE WORKERS           1
SOFTWARE ENGINEER                                            1
SECURITIES COMMODITIES FINANCIAL SERVS SALES AGENT           1
SOFTWARE DEVELOPERS, APPLICATIONS R&D                        1
HEARING AID SPECIALISTS                                      1
MARKET RESEARCH ANALYSTS AND MARKETING  SPECIALIST           1
CHEMICAL ENGINEERING                                         1
SEPTIC TANK SERVICERS AND SEWER PIPE CLEANERS                1
Medical Transcriptionists                                    1
DATEBASE ADMINISTRATORS                                      1
MARKET RESEARCH ANALYTICS AND MARKETING SPECIALIST           1
SYSTEMS ENGINEERS/ARCHITECTS                                 1
NURSE PRACTITIONER                                           1
ELEMENTARY SCHOOL TEACHERS, EXCEPT SPECIAL EDUCATION         1
MECHANICAL ENGINEERS, R&D (ACWIA ONLY)                       1
SALES AND RELATED WORKERS, ALL OTHER*                        1
GENERAL AND OPERATIONS MANAGERSE                             1
SHIP ENGINEERS                                               1
FOREIGN LANGUAGE LITERATURE TEACHERS, POSTSECOND             1
PEDIATRICIAN                                                 1
TILE AND MARBLE SETTERS                                      1
Metal Workers and Plastic Workers, All Other                 1
ELEMENTARY SCHOOL TEACHERS, EXEPT SPECIAL                    1
COMPUTER PROGRAMMER ANALYST                                  1
SOLAR PHOTOVOLTAIC INSTALLERS                                1
Name: SOC_NAME, Length: 2108, dtype: int64

In [0]:
c2=categorical_2

In [0]:
c2["NEW_EMPLOYER"]=np.nan

In [0]:
c2["EMPLOYER_NAME"]=c2.EMPLOYER_NAME.str.lower()
c2.NEW_EMPLOYER[c2["EMPLOYER_NAME"].str.contains('university')]='university'
c2['NEW_EMPLOYER']=c2.NEW_EMPLOYER.replace(np.nan,'non-university',regex=True)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [0]:
c2['NEW_EMPLOYER'].value_counts()

non-university    2775822
university         136837
Name: NEW_EMPLOYER, dtype: int64

In [0]:
c2=c2.drop(["EMPLOYER_NAME"],1)

In [0]:
c2.columns

Index(['SOC_NAME', 'JOB_TITLE', 'FULL_TIME_POSITION', 'WORKSITE',
       'NEW_EMPLOYER'],
      dtype='object')

In [0]:
c2["FULL_TIME_POSITION"].value_counts()

Y    2501114
N     411545
Name: FULL_TIME_POSITION, dtype: int64

In [0]:
c2["WORKSITE"].value_counts()

NEW YORK, NEW YORK                        185817
HOUSTON, TEXAS                             81205
SAN FRANCISCO, CALIFORNIA                  61041
ATLANTA, GEORGIA                           50675
CHICAGO, ILLINOIS                          49975
SAN JOSE, CALIFORNIA                       48786
SUNNYVALE, CALIFORNIA                      34032
BOSTON, MASSACHUSETTS                      30657
DALLAS, TEXAS                              30640
REDMOND, WASHINGTON                        30057
CHARLOTTE, NORTH CAROLINA                  29627
MOUNTAIN VIEW, CALIFORNIA                  28709
IRVING, TEXAS                              28495
SAN DIEGO, CALIFORNIA                      27827
SANTA CLARA, CALIFORNIA                    26959
JERSEY CITY, NEW JERSEY                    26365
AUSTIN, TEXAS                              26095
SEATTLE, WASHINGTON                        26042
LOS ANGELES, CALIFORNIA                    25694
PHILADELPHIA, PENNSYLVANIA                 23747
PHOENIX, ARIZONA                           20945
BELLEVUE, WASHINGTON                       20738
PLANO, TEXAS                               20218
WASHINGTON, DISTRICT OF COLUMBIA           19748
ALPHARETTA, GEORGIA                        17796
IRVINE, CALIFORNIA                         16499
COLUMBUS, OHIO                             16126
MIAMI, FLORIDA                             16106
PALO ALTO, CALIFORNIA                      16095
TAMPA, FLORIDA                             15226
                                           ...
RHODE ISLAND, RHODE ISLAND                     1
SUITE 399, MINNESOTA                           1
WAWATOSA, FLORIDA                              1
DUNDEE, MISSISSIPPI                            1
APARTMENT G, INDIANA                           1
SUNSET BEACH, NORTH CAROLINA                   1
BAUXITE, ARKANSAS                              1
SUITE 280, CALIFORNIA                          1
FARMINGDALE, ARIZONA                           1
FT. LAUDERDALEFT. LAUDERDALE, FLORIDA          1
CHICKAMAUGA, GEORGIA                           1
GLENDALE MILWAUKEE, WISCONSIN                  1
77 MASSACHUSETTS AVENUE, MASSACHUSETTS         1
BELTSVILLE, MICHIGAN                           1
SUITE 3870, FLORIDA                            1
BEVERLY HILLS, TEXAS                           1
KALONA, IOWA                                   1
LIVINGSTON, INDIANA                            1
NEW YORK CITY, MICHIGAN                        1
TRAIL WILLOW PARK, TEXAS                       1
LINDEN, TENNESSEE                              1
GEORGETOWN, GEORGIA                            1
JARRELL, TEXAS                                 1
BRENTWOOD NJ, NEW YORK                         1
FAIRMOUNT CITY, PENNSYLVANIA                   1
NASHUA, OHIO                                   1
COBB, GEORGIA                                  1
PLAINFIELD, WISCONSIN                          1
CARYCARY, NORTH CAROLINA                       1
ELGIN, NORTH DAKOTA                            1
Name: WORKSITE, Length: 18189, dtype: int64

In [0]:
c2['OCCUPATION'] = np.nan
c2['SOC_NAME'] = c2['SOC_NAME'].str.lower()
c2.OCCUPATION[c2['SOC_NAME'].str.contains('computer','programmer')] = 'computer occupations'
c2.OCCUPATION[c2['SOC_NAME'].str.contains('software','web developer')] = 'computer occupations'
c2.OCCUPATION[c2['SOC_NAME'].str.contains('database')] = 'computer occupations'
c2.OCCUPATION[c2['SOC_NAME'].str.contains('math','statistic')] = 'Mathematical Occupations'
c2.OCCUPATION[c2['SOC_NAME'].str.contains('predictive model','stats')] = 'Mathematical Occupations'
c2.OCCUPATION[c2['SOC_NAME'].str.contains('teacher','linguist')] = 'Education Occupations'
c2.OCCUPATION[c2['SOC_NAME'].str.contains('professor','Teach')] = 'Education Occupations'
c2.OCCUPATION[c2['SOC_NAME'].str.contains('school principal')] = 'Education Occupations'
c2.OCCUPATION[c2['SOC_NAME'].str.contains('medical','doctor')] = 'Medical Occupations'
c2.OCCUPATION[c2['SOC_NAME'].str.contains('physician','dentist')] = 'Medical Occupations'
c2.OCCUPATION[c2['SOC_NAME'].str.contains('Health','Physical Therapists')] = 'Medical Occupations'
c2.OCCUPATION[c2['SOC_NAME'].str.contains('surgeon','nurse')] = 'Medical Occupations'
c2.OCCUPATION[c2['SOC_NAME'].str.contains('psychiatr')] = 'Medical Occupations'
c2.OCCUPATION[c2['SOC_NAME'].str.contains('chemist','physicist')] = 'Advance Sciences'
c2.OCCUPATION[c2['SOC_NAME'].str.contains('biology','scientist')] = 'Advance Sciences'
c2.OCCUPATION[c2['SOC_NAME'].str.contains('biologi','clinical research')] = 'Advance Sciences'
c2.OCCUPATION[c2['SOC_NAME'].str.contains('public relation','manage')] = 'Management Occupation'
c2.OCCUPATION[c2['SOC_NAME'].str.contains('management','operation')] = 'Management Occupation'
c2.OCCUPATION[c2['SOC_NAME'].str.contains('chief','plan')] = 'Management Occupation'
c2.OCCUPATION[c2['SOC_NAME'].str.contains('executive')] = 'Management Occupation'
c2.OCCUPATION[c2['SOC_NAME'].str.contains('advertis','marketing')] = 'Marketing Occupation'
c2.OCCUPATION[c2['SOC_NAME'].str.contains('promotion','market research')] = 'Marketing Occupation'
c2.OCCUPATION[c2['SOC_NAME'].str.contains('business','business analyst')] = 'Business Occupation'
c2.OCCUPATION[c2['SOC_NAME'].str.contains('business systems analyst')] = 'Business Occupation'
c2.OCCUPATION[c2['SOC_NAME'].str.contains('accountant','finance')] = 'Financial Occupation'
c2.OCCUPATION[c2['SOC_NAME'].str.contains('financial')] = 'Financial Occupation'
c2.OCCUPATION[c2['SOC_NAME'].str.contains('engineer','architect')] = 'Architecture & Engineering'
c2.OCCUPATION[c2['SOC_NAME'].str.contains('surveyor','carto')] = 'Architecture & Engineering'
c2.OCCUPATION[c2['SOC_NAME'].str.contains('technician','drafter')] = 'Architecture & Engineering'
c2.OCCUPATION[c2['SOC_NAME'].str.contains('information security','information tech')] = 'Architecture & Engineering'
c2['OCCUPATION']= c2.OCCUPATION.replace(np.nan, 'Others', regex=True)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [0]:
c2['state'] = c2.WORKSITE.str.split('\s+').str[-1]

In [0]:
c2["OCCUPATION"].value_counts()

computer occupations          1738086
Others                         440328
Architecture & Engineering     305998
Financial Occupation           127271
Management Occupation           78545
Medical Occupations             73348
Education Occupations           70955
Advance Sciences                57345
Business Occupation             15685
Marketing Occupation             3019
Mathematical Occupations         2079
Name: OCCUPATION, dtype: int64

In [0]:
c2['state'].value_counts()

CALIFORNIA       542670
TEXAS            285418
YORK             282273
JERSEY           207650
ILLINOIS         156236
MASSACHUSETTS    113033
PENNSYLVANIA     107262
FLORIDA          102703
WASHINGTON       100127
GEORGIA          100029
VIRGINIA          90466
CAROLINA          90050
MICHIGAN          80525
OHIO              74489
MARYLAND          54457
CONNECTICUT       48918
MINNESOTA         47419
ARIZONA           40798
MISSOURI          33718
WISCONSIN         31772
COLORADO          30972
INDIANA           29321
TENNESSEE         26881
OREGON            23000
COLUMBIA          22008
DELAWARE          17708
IOWA              16234
ARKANSAS          14342
KANSAS            13311
UTAH              12656
KENTUCKY          12296
ISLAND            11457
LOUISIANA         11060
OKLAHOMA          10237
ALABAMA            9910
HAMPSHIRE          9603
NEBRASKA           9009
NEVADA             7152
MEXICO             5330
DAKOTA             4644
MISSISSIPPI        4099
IDAHO              4038
MAINE              3812
HAWAII             3645
NA                 3451
VERMONT            1877
RICO               1419
ALASKA             1363
MONTANA             951
WYOMING             860
Name: state, dtype: int64

In [0]:
c2.columns

Index(['SOC_NAME', 'JOB_TITLE', 'FULL_TIME_POSITION', 'WORKSITE',
       'NEW_EMPLOYER', 'OCCUPATION', 'state'],
      dtype='object')

In [0]:
c2=c2.drop(["JOB_TITLE"],1)

In [0]:
c2=c2.drop(["SOC_NAME","WORKSITE"],1)

In [0]:
c2=pd.get_dummies(c2)

In [0]:
c2.head()

,FULL_TIME_POSITION_N,FULL_TIME_POSITION_Y,NEW_EMPLOYER_non-university,NEW_EMPLOYER_university,OCCUPATION_Advance Sciences,OCCUPATION_Architecture & Engineering,OCCUPATION_Business Occupation,OCCUPATION_Education Occupations,OCCUPATION_Financial Occupation,OCCUPATION_Management Occupation,...,state_RICO,state_TENNESSEE,state_TEXAS,state_UTAH,state_VERMONT,state_VIRGINIA,state_WASHINGTON,state_WISCONSIN,state_WYOMING,state_YORK
0,1,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,1,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
2,0,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,0,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
5,0,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [0]:
df3=pd.concat([numerical_2,c2],1)

In [0]:
df3.shape

(2912659, 70)

In [0]:
X=df3.drop(["case_status_now","lon","lat"],1)
y=df3["case_status_now"]

In [0]:
from sklearn.preprocessing import MinMaxScaler
mms=MinMaxScaler()
cols=list(X)
X=mms.fit_transform(X)
X=pd.DataFrame(X,columns=cols)

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/data.py:334: DataConversionWarning: Data with input dtype uint8, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [0]:
from sklearn.model_selection import train_test_split as tts
x_train,x_test,y_train,y_test=tts(X,y,test_size=0.25,random_state=0)

In [0]:
from sklearn.linear_model import LogisticRegression
logreg=LogisticRegression()

In [0]:
logreg.fit(x_train,y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [0]:
y_pred=logreg.predict(x_test)

In [0]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [0]:
confusion_matrix(y_test,y_pred)

array([[     2,  23516],
       [     0, 704647]])

In [0]:
accuracy_score(y_test,y_pred)

0.9677051217787177